In [ ]:
import pandas as pd
from sqlalchemy import create_engine, inspect

In [16]:
# Remplace les valeurs par les tiennes
user = 'root'
password = '13135690'
host = 'localhost'
database = 'db_ecole'
port = 3306

In [17]:
# Connexion via SQLAlchemy avec le port
import pymysql
db = f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}'
engine = create_engine(db)

inspector = inspect(engine)
tables = inspector.get_table_names()
print("Tables dans la base de données :", tables)

Tables dans la base de données : ['Cours', 'Eleve', 'Eleve_Cours', 'Enseignant', 'Matiere', 'Salle']

In [30]:
en_ma = pd.read_sql("SELECT * FROM Enseignant INNER JOIN Enseignant WHERE id_ensignant.Enseignant = id_enseignant.Matiere", engine)
print(en_ma.head())

OperationalError: (pymysql.err.OperationalError) (1066, "Not unique table/alias: 'Enseignant'")
[SQL: SELECT * FROM Enseignant INNER JOIN Enseignant WHERE id_ensignant.Enseignant = id_enseignant.Matiere]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [31]:
ens = pd.read_sql("SELECT * FROM Enseignant", engine)
print(ens.head())

   id_enseignant       nom      prenom                    email
0              1   Blondel     Corinne  enseignant1@example.com
1              2  Ferreira      Denise  enseignant2@example.com
2              3  Marchand  Alexandrie  enseignant3@example.com
3              4    Wagner     Nicolas  enseignant4@example.com
4              5     Louis    Grégoire  enseignant5@example.com

In [27]:
eleve_cours = pd.read_sql("SELECT * FROM Eleve_Cours", engine)
print(eleve_cours.head())

   id_eleve  id_cours
0        10         1
1        29         1
2        68         1
3        70         1
4        44         2